version.py
config/
__pycache__/
*.pyc
*.egg-info/
.eggs/
.coverage
htmlcov/
venv/
dist/
build/
coverage.xml
pylint.txt
.vscode/
.idea/
src/tlog_api/core/version.py
src/tlog_api/tags
.venv/
.history
requirements.*
.mypy_cache/
.cache/
tags
